<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskPipeline App</title>
    <meta name="description" content="Application on Flask with Database">
    <link rel="website icon" type="png" href="../static/images/Logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="roboto-condensed">
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About me</a></li>
            <li><a href="{{ url_for('other') }}">Contact me</a></li>
            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
        </ul>
    </nav>
    <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>