{% extends "base.html" %}
{% block content %}
<h1>About me</h1>
<div class="my_photo">
    <p>
        I'm 23 years old, living in Israel,<br>
        A novice DevOps engineer deeply passionate basketball,<br>
        reading, movies and about automating software development<br>
        and delivery processes, dedicated to continuous<br>
        improvement.<br>
        I strive to make a meaningful contribution to technology<br>
        and business processes through my dedication<br>
        and creativity, learning rigorously each day.<br>
        Studying to become a DevOps engineer.<br>
        I like to talk about technology and automation,<br>
        about the tools used by a devops engineer, etc.<br>
        Learn something new in the world of IT
    </p>
    <img src="../static/images/my_photo.png" alt="my_photo">
</div>

{% endblock %}