{% extends "base.html" %}
{% block content %}
<h1>FlaskPipeline Project</h1>
<section class="roboto-condensed" id="home">
    <p>
        <strong>Project Overview: CI/CD Pipeline for a Flask Application</strong><br>

        This project sets up a CI/CD pipeline for a Flask application using PostgreSQL as the database.<br>
        The pipeline ensures secure user password management with hashing and salting. The code for the
        application<br>
        is stored on GitHub, and Jenkins automates the CI/CD process. Here is how it works:<br>
        <br>
        Source Code Management:<br>
        <br>
        The application code is stored on GitHub.<br>
        Whenever a new commit is made, a webhook triggers a Jenkins job.<br>
        Continuous Integration:<br>
        <br>
        Jenkins starts the job and runs several tests:<br>
        SonarQube: For code quality analysis.<br>
        Unit Tests: To ensure the functionality of the code.<br>
        Bandit: For security checks.<br>
        Docker and Security Scanning:<br>
        <br>
        After testing, Jenkins builds a Docker image.<br>
        Aqua Trivy: Scans the Docker image for vulnerabilities.<br>
        Docker Image Deployment:<br>
        <br>
        The Docker image is pushed to DockerHub.<br>
        Docker Compose checks the container setup.<br>
        Kubernetes and Infrastructure Management:<br>
        <br>
        ArgoCD: Creates a Kubernetes cluster.<br>
        Terraform: Deploys the application and sets up resources on AWS.<br>
        Configuration Management:<br>
        <br>
        Ansible: Manages updates and various configurations.<br>
        Monitoring and Notifications:<br>
        <br>
        Grafana and Prometheus: Monitor the application and infrastructure.<br>
        Email notifications are sent if any issues are detected.<br>
        This setup ensures that the application is thoroughly tested, secure, and automatically deployed to
        a<br>
        scalable environment, with continuous monitoring and alerts for any issues.<br>

        Version 6.0
    </p>
    <img src="../static/images/Logo.png" alt="Logo">
    {% endblock %}