{% extends "base.html" %}
{% block content %}
<h1>Contact Me</h1>
<div class="contact-mail">
    <p>My personal social media to contact</p>
</div>
<ul class="contact-links">
    <li><a href="https://matveyguralskiy.com" target="_blank">My Website</a></li>
    <li><a href="https://github.com/MatveyGuralskiy/FlaskPipeline" target="_blank">FlaskPipeline Project</a></li>
    <li><a href="mailto:mathewguralskiy@gmail.com">My Email for Contact</a></li>
    <li><a href="https://github.com/MatveyGuralskiy" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/matveyguralskiy/" target="_blank">LinkedIn</a>
    </li>
    <li><a href="https://www.instagram.com/matvey_guralskiy/" target="_blank">Instagram</a></li>
</ul>
{% endblock %}